@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@model ICollection<Shop.Common.ViewModels.AlbumViewModel>

<table class="table table-hover table-responsive">
    @foreach (var album in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(album.Name, "Details", "Album", new
                {
                    id = album.Id,
                    area = "Content"
                }, new
                {
                    @class = "btn btn-link",
                    title = "Нажмите, чтобы посмотреть подробную информацию об альбоме"
                })
            </td>
            <td>
                @if (album.Artist != null)
                {
                    @Html.ActionLink(album.Artist.Name, "Details", "Artist", new
                    {
                        id = album.Artist.Id,
                        area = "Content"
                    }, new
                    {
                        @class = "btn btn-link",
                        title = "Нажмите, чтобы перейти к информации об исполнителе"
                    })
                }
            </td>
            <td>
                <a class="btn btn-link" href="@Url.Action("TracksList", "Album", new { id = album.Id, area = "Content" })"
                   title="Нажмите, чтобы увидеть все треки из альбома">
                    Треки <span class="badge">@album.TracksCount</span>
                </a>
            </td>
            <td>
                @Html.DisplayFor(m => album.Price)
            </td>
            <td>
                @Html.BtnEditAlbum(album.Id)
                @Html.BtnDeleteAlbum(album.Id)
                @(album.Price != null ? Html.BtnEditAlbumPrice(album.Id) : Html.BtnCreateAlbumPrice(album.Id))
            </td>
            <td>
                @if (album.IsPurchased)
                {
                    @Html.ButtonWithIcon("btn btn-sm btn-default", "glyphicon glyphicon-music", "Прослушать",
                                         Url.Action("PurchasedTracks", "Track", new { area = "Content", albumId = album.Id }))
                }
                else if (album.Price != null)
                {
                    @Html.BtnBuyAlbum(album.Id, album.IsOrdered)
                }
            </td>
        </tr>
    }
</table>

