@using System.Globalization
@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@using Shop.BLL.Utils
@using Shop.DAL.Repositories
@using Shop.Infrastructure.Enums
@model Shop.Common.ViewModels.TrackDetailsViewModel

@{
    var isAuthenticated = Request.IsAuthenticated;
    var currentUserId = 0;
    var isAdmin = false;
    var isSeller = false;
    var isBuyer = false;
    if (isAuthenticated)
    {
        var currentUser = ((CurrentUser)User);
        currentUserId = currentUser.Id;
        isAdmin = User.IsInRole(UserRoles.Admin.ToString());
        isSeller = User.IsInRole(UserRoles.Seller.ToString());
        isBuyer = User.IsInRole(UserRoles.Buyer.ToString()) || User.IsInRole(UserRoles.Customer.ToString());
    }

}

<li class="list-group-item" id="item-@Model.Id">
    <div class="left">
        <img class="img-thumbnail" src="data:image;base64,@Convert.ToBase64String(Model.Image)" onerror="src = '/img/defuserpic.png'" />
        <div class="details">
            <div>
                <a class="track-name" href="@Url.Action("Details", "Tracks", new { area = "Content", id = Model.Id })">@Html.DisplayFor(i => Model.Name)</a>
                <a class="artist-name" href="@Url.Action("Details", "Artists", new { area = "Content", id = Model.Id })">@Html.DisplayFor(i => Model.Artist.Name)</a>
            </div>
            <div>
                @Html.Partial("_Stars", Model.Id)
                <div>
                    <a id="preview-btn" onclick="javascript:GetAudioPlayer('@Url.Action("GetTrackSampleAsStream", "Tracks", new { id = Model.Id })', @Model.Id);"><i class="fa fa-play" style="margin: 17px 0 0 11px; font-size: 16px; opacity: 0.4"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="order-block">
        @{
            if (Model.Price != null)
            {
                <div class="buy-btn">@Html.BtnBuyTrack(Model.Id, Model.IsOrdered, string.Format("{0}{1}", Model.Price.Amount.ToString(CultureInfo.CurrentUICulture), Model.Price.Currency.Symbol ?? Model.Price.Currency.ShortName), animate: true)</div>
            }

        }
    </div>
</li>