@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@model ICollection<Shop.Common.ViewModels.TrackViewModel>

<table class="table table-hover table-responsive">
    @foreach (var track in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(track.Name, "Details", "Track", new
                {
                    id = track.Id,
                    area = "Content"
                }, new
                {
                    @class = "btn btn-link",
                    title = "Нажмите, чтобы посмотреть подробную информацию о треке"
                })
            </td>
            <td>
                @Html.ActionLink(track.Artist.Name, "Details", "Artist", new
                {
                    id = track.Artist.Id,
                    area = "Content"
                }, new
                {
                    @class = "btn btn-link",
                    title = "Нажмите, чтобы перейти к информации об исполнителе"
                })
            </td>
            <td>
                @Html.Partial("_Rating", track.Rating)
            </td>
            <td>
                @Html.DisplayFor(m => track.Price)
            </td>
            <td>
                @Html.BtnEditTrack(track.Id)
                @Html.BtnDeleteTrack(track.Id)
                @(track.Price != null ? Html.BtnEditTrackPrice(track.Id) : Html.BtnCreateTrackPrice(track.Id))
            </td>
            @if (track.AlbumId > 0)
            {
                <td>
                    @using (Html.BeginForm("RemoveTrack", "Album", new { area = "Management" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@track.AlbumId" name="id" />
                        <input type="hidden" value="@track.Id" name="trackId" />
                        <input type="submit" value="Удалить из альбома" class = "btn btn-sm btn-primary" />
                    }
                </td>
            }
            <td>
                @if (track.IsPurchased)
                {
                    @Html.ButtonWithIcon("btn btn-sm btn-default", "glyphicon glyphicon-music", "Прослушать",
                                            Url.Action("PurchasedTracks", "Track", new { area = "Content", id = track.Id }))
                }
                else if (track.Price != null)
                {
                    @Html.BtnBuyTrack(track.Id, track.IsOrdered)
                }
            </td>
        </tr>
    }
</table>
