@model Shop.Common.Models.GenreDetailsViewModel
<head>
    @*<script src="~/Scripts/buttons.js"></script>*@
</head>
@Html.AntiForgeryToken()
<body>
<div id="genreDetails" style="display: block; text-align: center;">
    <div style="display: inline-block; width: 70%">
        <h1 style="margin-top: 50px; font-size: 2.5em">
            @Html.DisplayTextFor(m => m.Name)
        </h1>
        <p style="font-size: 1.5em; text-align: initial">
            @Html.DisplayTextFor(m => m.Description)
        </p>
        <div style="display: block; width: 100%; text-align: right">
            <div style="display: inline-block; width: 320px; height: 50px">
                @*back-btn*@
                <a class="button-back" href="@Url.Action("List", "Genres")" role="button" style="margin: 10px 0 0 165px">
                    <span>назад</span>
                    <div class="icon-back">
                        <i class="fa fa-back"></i>
                        <i class="fa fa-success-back"></i>
                    </div>
                </a>

                @*edit-btn*@
                <a class="button-edit" href="@Url.Action("Edit", "Genres", new { Area = "Management", id = Model.Id })" role="button" style="margin-top: 10px">
                    <span>правка</span>
                    <div class="icon-edit">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-check"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>


@section cssStyles{

    <link href="~/Styles/tracks.css" rel="stylesheet"/>
    <link href="~/Styles/edit-btn.css" rel="stylesheet"/>
    <link href="~/Styles/back-btn.css" rel="stylesheet"/>
}