@model Shop.Common.ViewModels.AlbumDetailsViewModel

@Html.AntiForgeryToken()
<body>
<h2 class="title" style="position: initial; margin-top: 0">Информация об альбоме</h2>

<div class="album-details">
    <div style="width: 500px; display: inline-block">
        <img class="img-thumbnail" src="data:image;base64,@Convert.ToBase64String(Model.Cover)" onerror="this.src = '/img/defuserpic.png'"/>
        <div class="details">
            <h2>Альбом: @Html.DisplayTextFor(model => model.Name)</h2>
            <h1 style="margin-top: 0">Исполнитель: @Html.ActionLink(Model.ArtistName, "Details", "Artists", new { area = "Content", id = Model.Artist.Id }, null)</h1>
            <h3>Дата выхода: @Html.ValueFor(model => model.ReleaseDate, "{0:dd MMMM yyyy} г.")</h3>
        </div>

        <div class="track-list">
            @foreach (var track in Model.Tracks)
            {
                <p>@track.Name</p>
            }
        </div>

        <div style="width: 500px; margin-top: 15px">
            <a href="@Url.Action("List", "Albums", new { Area = "Content" })" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Отмена</a>
            <a class="btn btn-primary" href="@Url.Action("Edit", "Albums", new { Area = "Management", id = Model.Id })"><span class="glyphicon glyphicon-pencil"></span> Правка</a>

        </div>
    </div>
</div>
</body>

<script src="/Scripts/del-artist.js" type="text/javascript"></script>
@section cssStyles{
    <link href="~/Content/tracks.css" rel="stylesheet"/>
}