@using System.Globalization
@using MvcSiteMapProvider.Web.Html
@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@using PVT.Q1._2017.Shop.Helpers
@model Shop.Infrastructure.Models.PagedResult<Shop.Common.ViewModels.AlbumDetailsViewModel>
@{ ViewBag.Title = "Все альбомы"; }
<div class="albums-list">
    <ul class="list-group" id="slist">
        @foreach (var album in Model.Items)
        {
            <li class="list-group-item" id="albums-item">
                <img class="img-thumbnail" src="data:image;base64,@Convert.ToBase64String(album.Cover)" onerror="src = '/img/defuserpic.png'"/>
                <div class="details">
                    <div class="album-title">
                        <p>@Html.ActionLink(album.Name, "Details", "Albums", new { id = album.Id, area = "Content" }, new { @class = "album-name" })</p>
                    </div>
                    @Html.Partial("_Stars", album.Id)
                    <p>
                        Треков <span class="badge">@album.TracksCount</span>
                    </p>
                    <span class="label label-primary">@Html.ActionLink(album.Artist.Name, "Details", "Artists", new { id = album.Artist.Id, area = "Content" }, null)</span>
                    <span class="label label-success">Pop</span>
                </div>
                <div class="btn-align">
                    <div class="btn-buy">
                        @if (album.Price != null)
                        {
                            <div class="order-block">
                                @{
                                    if (album.Price != null)
                                    {
                                        <div class="buy-btn">@Html.BtnBuyTrack(album.Id, album.IsOrdered, string.Format("{0}{1}", album.Price.Amount.ToString(CultureInfo.CurrentUICulture), album.Price.Currency.Symbol ?? album.Price.Currency.ShortName), animate: true)</div>
                                    }

                                }
                            </div>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
    @Html.PageLinks(Model, i => Url.Action("List", "Albums", new { page = i, area = "Content" }))
</div>

@section cssStyles{
    <link href="~/Content/tracks.css" rel="stylesheet"/>
}