@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@model Shop.Common.ViewModels.AlbumTracksListViewModel

@{
    ViewBag.Title = "Список треков из альбома";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.AlbumDetails.Name</h4>
    @if (Model.AlbumDetails.Artist != null)
    {
        <h5>@Model.AlbumDetails.Artist.Name</h5>
    }
    <hr />

    <p>
        @Html.BtnAddTracksToAlbum(Model.AlbumDetails.Id)

        @if (Model.AlbumDetails.Artist != null)
        {
            <a class="btn btn-sm btn-success"
               href="@Url.Action("Details", "Artist", new { id = Model.AlbumDetails.Artist.Id, area = "Content" })"
               title="Нажмите, чтобы увидеть информацию об исполнителе">
                Информация об исполнителе
            </a>
        }

        @Html.ActionLink("Информация об альбоме", "Details", "Album", new
        {
            id = Model.AlbumDetails.Id,
            area = "Content"
        }, new
        {
            @class = "btn btn-sm btn-success",
            title = "Нажмите, чтобы перейти к информации об альбоме"
        })
    </p>
    
    @Html.Partial("_TracksList", Model.Tracks)
    
</div>

@section cssStyles
{
    <link href="~/Content/ratingStars.css" rel="stylesheet" />
}