@model Shop.Common.ViewModels.SettingViewModel

@{
    ViewBag.Title = "Настройки";
}

<table>
    <tr>
        <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.DefaultCurrencyViewModelList, htmlAttributes: new { @class = "control-label" })
            &nbsp;
        </td>
        <td>
            @Html.DropDownListFor(model => model.DefaultCurrencyId, new SelectList(Model.DefaultCurrencyViewModelList, "Id", "FullName"), htmlAttributes: new { @class = "form-control", @style = "width:200px; margin-right: 20px;" })
            @Html.ValidationMessageFor(model => model.DefaultCurrencyId, "", new { @class = "text-danger" })
        </td>
        <td><input id="btnSave" type="button" value="Сохранить" class="btn btn-primary" /></td>
    </tr>
    <tr><td colspan="3"><label id="ResultMsg"></label></td></tr>
</table>

@section Scripts {
    <script type="text/javascript">
        $(function () {

            $("#btnSave").click(function () {
                $.ajax({
                    url: '@Url.Action("Save", "Setting")',
                    type: "POST",
                    dataType: "json",
                    data: { defaultCurrencyId: $("#DefaultCurrencyId option:selected").val() },
                    success: function (msg) {
                        $("#ResultMsg").text(msg);
                    }
                });
            });

        })
    </script>
}
