@{
    ViewBag.Title = "Главная";
}
<section class="content-block  ">

    <div class="news-header"><h1 class="content-block__title col-xs-12">Новости музыки</h1></div>

    <div class="row" id="category_133_129341322">


        <article class="article col-xs-12 article--big with-banner_990-200">
            <div id="admixer_48b62a2e64d241a4bbcc6935f3507563_zone_8741_sect_2215_site_2061_rnd_574604158"></div>
            <script type="text/javascript">
                window.amSlots = (window.amSlots || []);
                window.amSlots.push({
                    z: '48b62a2e-64d2-41a4-bbcc-6935f3507563',
                    ph: 'admixer_48b62a2e64d241a4bbcc6935f3507563_zone_8741_sect_2215_site_2061_rnd_574604158',
                    i: 'inv-nets'
                });
            </script>
        </article>


        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "AlfaJazzFest" })">
                <img class="article__img__src" src="~/Areas/News/img/1.jpeg" alt="">
            </a>

            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "AlfaJazzFest" })">Все о джазе: интервью с организаторами Alfa Jazz Fest</a>
            </h3>
        </article>


        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "NewAlbumOfDorn" })">
                <img class="article__img__src" src="~/Areas/News/img/2.jpeg" alt="">
            </a>


            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "NewAlbumOfDorn" })">Open the Dorn: вышел новый альбом Ивана Дорна</a>
            </h3>
        </article>


        <article class="article promo_320 col-xs-12 col-sm-6 col-md-4">
            <div id="admixer_57eb0bd58d4c4315988e6c3ffecf8614_zone_8500_sect_2215_site_2061_rnd_1646414868"></div>
            <script type="text/javascript">
                window.amSlots = (window.amSlots || []);
                window.amSlots.push({
                    z: '57eb0bd5-8d4c-4315-988e-6c3ffecf8614',
                    ph: 'admixer_57eb0bd58d4c4315988e6c3ffecf8614_zone_8500_sect_2215_site_2061_rnd_1646414868',
                    i: 'inv-nets'
                });
            </script>
        </article>

        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "DahaBraha" })">
                <img class="article__img__src" src="~/Areas/News/img/3.jpeg" alt="">
            </a>

            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "DahaBraha" })">"ДахаБраха" выступит на фестивале Sziget</a>
            </h3>
        </article>


        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "VyhPlanyRedakcii" })">
                <img class="article__img__src" src="~/Areas/News/img/4.png" alt="">
            </a>

            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "VyhPlanyRedakcii" })">Куда пойти на выходных: планы редакции</a>
            </h3>
        </article>


        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "NewClip5Nizza" })">
                <img class="article__img__src" src="~/Areas/News/img/5.jpeg" alt="">
            </a>

            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "NewClip5Nizza" })">Премьера: новый клип группы 5'nizza</a>
            </h3>
        </article>

       
        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "PriznVLubviVSocSetyah" })">
                <img class="article__img__src" src="~/Areas/News/img/6.jpeg" alt="">
            </a>

            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "PriznVLubviVSocSetyah" })">Как красиво признаться в любви в соцсетях</a>
            </h3>
        </article>


        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "KLefflerPlaylist" })">
                <img class="article__img__src" src="~/Areas/News/img/7.jpeg" alt="">
            </a>

            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "KLefflerPlaylist" })">Плейлист Кристиана Леффлера</a>
            </h3>
        </article>


        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "NewAlbumGorillaz" })">
                <img class="article__img__src" src="~/Areas/News/img/8.jpeg" alt="">
            </a>


            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "NewAlbumGorillaz" })">Gorillaz выпускают новый альбом</a>
            </h3>
        </article>
        

        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "ByorkVirtual" })">
                <img class="article__img__src" src="~/Areas/News/img/9.jpeg" alt="">
            </a>

            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "ByorkVirtual" })">Бьорк сняла клип в виртуальной реальности</a>
            </h3>
        </article>


        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "PianoboyRodina" })">
                <img class="article__img__src" src="~/Areas/News/img/10.jpeg" alt="">
            </a>

            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "PianoboyRodina" })">Премьера: Pianoboy представил украинскую версию хита "Родина"</a>
            </h3>
        </article>


        <article class="article col-xs-12 col-sm-6 col-md-4 ">
            <a class="article__img" href="@Url.Action("Article", "Music", new { area = "News", partialName = "DepecheNewAlbum" })">
                <img class="article__img__src" src="~/Areas/News/img/11.jpeg" alt="">
            </a>

            <h3 class="article__title">
                <a class="article__title__link" href="@Url.Action("Article", "Music", new { area = "News", partialName = "DepecheNewAlbum" })">Depeche Mode выпускают новый альбом</a>
            </h3>
        </article>


    </div>
</section>

@section cssStyles
{
    <link rel="stylesheet" href="~/Content/news-block.css"/>
}