@model PVT.Q1._2017.Shop.Areas.Management.ViewModels.TrackManagementViewModel
<body>
<h2 class="title">Регистрация нового трека</h2>
@using (Html.BeginForm("New", "Tracks", FormMethod.Post, new { enctype = "multipart/form-data", name = "formreg" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ArtistId)
    @Html.HiddenFor(m => m.GenreId)
    @Html.HiddenFor(m => m.AlbumId)

    <div style="display: block; text-align: left">
        <div class="image-block" style="margin-top: 50px">
            <img id="artist-img" onclick="document.formreg.PostedImage.click()" onerror="this.src = '/img/defuserpic.png'" src="data:image;base64"/>
        </div>
        <ul style="width: 40%; display: inline-table; vertical-align: middle">
            <li>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Название", @class = "form-control" } })
            </li>
            <li style="margin-top: 30px">
                <label asp-for="Name"></label><br />
                @Html.EditorFor(m => m.ArtistName, new { htmlAttributes = new { placeholder = "Исполнитель", type = "text", @class = "form-control" } })
            </li>
            <li>
                @Html.EditorFor(m => m.ReleaseDate, new { htmlAttributes = new { placeholder = "Дата выхода", type = "text", @class = "form-control" } })
            </li>
            <li>
                @Html.EditorFor(m => m.GenreName, new { htmlAttributes = new { placeholder = "Жанр", type = "text", @class = "form-control" } })
            </li>
            <li>
                @Html.EditorFor(m => m.AlbumName, new { htmlAttributes = new { placeholder = "Альбом", type = "text", @class = "form-control" } })
            </li>
            <li>
                <label asp-for="Duration" style="display: inline-block; color: #000000; font-size: 14px"></label><br />
                @Html.EditorFor(m => m.Duration, new { htmlAttributes = new { placeholder = "Продолжительность", type = "text", @class = "form-control" } })
            </li>
            <li>
                <input placeholder="Файл" type="text" class="form-control" id="file-path" onclick="document.formreg.PostedTrackFile.click()"/>
            </li>
        </ul>
    </div>

    <button type="submit" class="btn" id="btn-save">Сохранить</button>
    <input type="file" id="file" name="PostedImage" style="display: none"/>
    <input type="file" id="track-file" name="PostedTrackFile" style="display: none"/>
}
<script src="/Scripts/jquery-3.2.0.min.js"></script>
<script src="/Scripts/openfile.dialog.js" type="text/javascript"></script>
<script src="/Scripts/file-change.js" type="text/javascript"></script>
</body>

@section cssStyles
{
    <link href="~/Styles/tracks.css" rel="stylesheet"/>
}