@model PVT.Q1._2017.Shop.Areas.Management.ViewModels.TrackManagementViewModel
<body>
<h2 class="reg-new-artist-title">Регистрация нового трека</h2>
@using (Html.BeginForm("New", "Tracks", FormMethod.Post, new { enctype = "multipart/form-data", name = "formreg" }))
{
    @Html.AntiForgeryToken()
    <div class="center">
        <div class="row">
            <div class="leftpan">
                <img id="artist-img" onclick="document.formreg.Image.click()" onerror="this.src = '/img/defuserpic.png'" src="data:image;base64"/>
            </div>
            <div class="rightpan">
                <div class="inputs">
                    <ul class="new-artist-items">
                        <li>
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Название" } })
                        </li>
                        <li>
                            @Html.EditorFor(m => m.Artist.Name, new { htmlAttributes = new { placeholder = "Исполнитель", type = "text" } })
                        </li>
                        <li>
                            @Html.EditorFor(m => m.ReleaseDate, new { htmlAttributes = new { placeholder = "Дата выхода", type = "text" } })
                        </li>
                        <li>
                            @Html.EditorFor(m => m.ReleaseDate, new { htmlAttributes = new { placeholder = "Файл", type = "text", id="track-file-name",  onclick = "document.formreg.PostedTrackFile.click()" } })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            
            @Model.Artist.IsCreation= false;

            <button type="submit" class="save-button">Сохранить</button>
        </div>
        <input type="file" id="file" name="Image" style="display: none"/>
        <input type="file" id="track-file" name="PostedTrackFile" style="display: none"/>
    </div>
}
<script src="/Scripts/jquery-3.2.0.min.js"></script>
<script src="/Scripts/openfile.dialog.js" type="text/javascript"></script>
<script src="/Scripts/file-change.js" type="text/javascript"></script>
</body>

@section ArtistEdit
{
    <link href="/Areas/Management/Styles/managment-common.css" rel="stylesheet" type="text/css"/>
    <link href="/Areas/Management/Styles/track-new.css" rel="stylesheet" type="text/css"/>
    <link href="/Areas/Management/Styles/navpan.css" rel="stylesheet" type="text/css"/>
}