@model PVT.Q1._2017.Shop.Areas.Management.Models.NewTrackViewModel

@using (Html.BeginForm("NewTrack", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="trackData">
        <ul>
            <li>
                @Html.EditorFor(m => m.Artist.Name, new { htmlAttributes = new { placeholder = "Artist" } })
            </li>

            <li>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Name" } })
            </li>

            <li>
                @Html.EditorFor(m => m.Album.Name, new { htmlAttributes = new { placeholder = "Album" } })
            </li>

            <li>
                @Html.EditorFor(m => m.Track.Genre.Name, new { htmlAttributes = new { placeholder = "Genre" } })
            </li>

            <li>
                @Html.EditorFor(m => m.Track.ReleaseDate, new { htmlAttributes = new { placeholder = "Release Date" } })
            </li>
            <li>
                @Html.EditorFor(m => m.Track.Duration, new { htmlAttributes = new { placeholder = "Duration" } })
            </li>
            <li>
                @Html.EditorFor(m => m.Artist.Name, new { htmlAttributes = new { placeholder = "Price" } })
            </li>
            <li class="cover-file">
                <div class="mask">
                    <input class="fake-input" id="file-path" type="text" placeholder="Cover"/>
                    <input id="browsefile-button" type="button" value="Browse..."
                           onclick="document.form1.filediag.click()"/>
                </div>
                <input class="original-input" type="file" name="filediag" style="display: none"/>

            </li>
        </ul>

        <button type="submit" class="add-button">Add</button>
    </div>
}


@*@section NewTrack{*@
@*    <link href="/Areas/Management/Styles/AddNewTrack.css" rel="stylesheet" type="text/css"/>}*@