@model PVT.Q1._2017.Shop.Areas.Management.Models.ArtistManagmentViewModel


@using (Html.BeginForm("New", "Albums", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="artistDetails">
        @Html.DisplayTextFor(m => m.Name);
        @Html.DisplayTextFor(m => m.Birthday);
        @Html.DisplayTextFor(m => m.Biography);
        @Html.ValueFor(m =>m.Photo);
        <button type="submit" class="add-button">Add</button>
    </div>
}

@section ManageStyle{
    <link href="/Areas/Management/Styles/AddNewTrack.css" rel="stylesheet" type="text/css"/>}