@using System.Web.Optimization
@model Shop.Common.ViewModels.AlbumTracksListViewModel

@{
    ViewBag.Title = "Добавление треков в альбом";
}

<div>
    @{
        Html.RenderPartial("_AlbumDetails", Model.AlbumDetails);
    }

    <div class="panel">
        <div class="panel-body" style="text-align: left">
            <h2>Треклист для добавления в альбом <span class="badge">@Model.Tracks.Count</span></h2>
            @if (Model.Tracks.Count > 0)
            {
                <div class="tracks-list">
                    <table class="table table-hover table-striped">
                        @foreach (var track in Model.Tracks)
                        {
                            <tr style="vertical-align: middle">
                                <td>
                                    <img class="img-thumbnail" style="max-width: 50px; max-height: 50px" src="data:image;base64,@Convert.ToBase64String(track.Image)" onerror="src = '/img/defuserpic.png'"/>
                                </td>
                                <td>
                                    <div>
                                        <a class="track-name" href="@Url.Action("Details", "Tracks", new {area = "Content", id = track.Id})">@Html.DisplayFor(i => track.Name)</a>
                                        <a class="artist-name" href="@Url.Action("Details", "Artists", new {area = "Content", id = track.Id})">@Html.DisplayFor(i => track.Artist.Name)</a>
                                    </div>
                                    Альбомов с этим треком <span class="badge">@track.AlbumsCount</span>
                                </td>
                                <td>
                                    @Html.Partial("_Rating", track.Rating)
                                </td>
                                <td style="text-align: right">
                                    <div style="display: inline-block">
                                        @using (Html.BeginForm("AddTrackToAlbum", "Albums", new {area = "Management"}, FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" value="@Model.AlbumDetails.Id" name="id"/>
                                            <input type="hidden" value="@track.Id" name="trackId"/>
                                            <input type="submit" class="btn, btn-sm btn-primary" value="Добавить в альбом"/>
                                        }
                                    </div>
                                    <div style="display: inline-block">
                                        <a href="@Url.Action("Edit", "Tracks", new {Area = "Management", id = track.Id})"
                                           class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Правка</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
            else if (Model.AlbumDetails.Artist != null)
            {
                <h4>У данного исполнителя нет доступных треков для добавления</h4>
                <h4>Сначала добавьте новые треки</h4>
                <a class="btn btn-primary" id="add-track" aria-label="Left Align"
                href="@Url.Action("New", "Tracks", new { area = "Management", artistId = Model.AlbumDetails.Artist.Id })">
                    <span class="glyphicon glyphicon-plus"></span> Добавить новый
                </a>
            }
        </div>
    </div>
</div>

@section cssStyles {
    @Styles.Render("~/bundles/cssTracks")
}