@model ICollection<Shop.Common.ViewModels.TrackDetailsViewModel>

<title class="title" style="position: initial; margin-top: 0">Все треки</title>


<div class="main-track-list">
    <ul class="list-group" style="width: 100%">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div style="display: inline-block; width: 100%" onclick="itemClick(@item.Id)">
                    <img class="img-thumbnail" src="data:image;base64,@Convert.ToBase64String(item.Image)" onerror="this.src = '/img/defuserpic.png'"/>
                    <p>@Html.DisplayFor(modelItem => item.Name)</p>
                    <a style="font-size: 24px" href="@Url.Action("Details", "Artists", new { area = "Content", id = item.Id })">@Html.DisplayFor(i => item.ArtistName)</a>
                </div>
                    @Html.Partial("Audio/AudioSection", @Url.Action("GetTrackAsStream", "Tracks", new { area = "Content", id = item.Id }))
            </li>
        }
    </ul>
</div>

<script>
    function itemClick(id) {
        var url = '@Url.Action("Details", "Tracks", new { id = "*" })';
        window.location.href = url.replace('*', encodeURIComponent(id));
    }

    function audioClick() {
        alert("click detected");
    }
</script>
<script src="d:\dropbox\git\ms\pvt.q1.2017.shop\shop.common\helpers\audio\js\ssuhtml5audio.js"></script>
@section cssStyles{
    <link href="~/Styles/tracks.css" rel="stylesheet"/>
    <link href="d:\dropbox\git\ms\pvt.q1.2017.shop\shop.common\helpers\audio\css\ssuhtml5audio.css" rel="stylesheet"/>
}