@using PVT.Q1._2017.BLL.Utils
@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@using Shop.Infrastructure.Enums
@model Shop.Common.ViewModels.AlbumTracksListViewModel

@{
    ViewBag.Title = "Информация об альбоме";
}

<h2>@ViewBag.Title</h2>

@{
    bool isAuthenticated = Request.IsAuthenticated;
    int currentUserId = 0;
    bool isAdmin = false;
    bool isSeller = false;
    bool isBuyer = false;
    if (isAuthenticated)
    {
        var currentUser = ((CurrentUser)User);
        currentUserId = currentUser.Id;
        isAdmin = User.IsInRole(UserRoles.Admin.ToString());
        isSeller = User.IsInRole(UserRoles.Seller.ToString());
        isBuyer = User.IsInRole(UserRoles.Buyer.ToString()) || User.IsInRole(UserRoles.User.ToString());
    }
}

<div class="panel panel-default">
    <div class="panel-body">
        <h4>@Model.AlbumDetails.Name</h4>
        @if (Model.AlbumDetails.Artist != null)
        {
            <h5>@Model.AlbumDetails.Artist.Name</h5>
        }

        @if (Model.AlbumDetails.Cover != null && Model.AlbumDetails.Cover.Length > 0)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.AlbumDetails.Cover)" alt="Обложка альбома"
                 class="img-thumbnail img-responsive" style="max-width: 300px; max-height: 300px" />
        }

        <div>
            @if (isAuthenticated)
            {
                if (isAdmin || (isSeller && (Model.AlbumDetails.OwnerId <= 0m || Model.AlbumDetails.OwnerId == currentUserId)))
                {
                    @Html.BtnAddTracksToAlbum(Model.AlbumDetails.Id)
                }
            }

            @if (Model.AlbumDetails.Artist != null)
            {
                <a class="btn btn-sm btn-success" href="@Url.Action("Details", "Artist", new { id = Model.AlbumDetails.Artist.Id, area = "Content" })"
                   title="Нажмите, чтобы увидеть информацию об исполнителе">
                    Информация об исполнителе
                </a>
            }
        </div>

        <hr />
        <dl class="dl-horizontal">
            @if (Model.AlbumDetails.ReleaseDate != null)
            {
                <dt>
                    Дата релиза
                </dt>

                <dd>
                    @Model.AlbumDetails.ReleaseDate.Value.ToShortDateString()
                </dd>
            }
            
            @if (Model.AlbumDetails.Price != null)
            {
                <dt>
                    Цена
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.AlbumDetails.Price)
                </dd>
            }
        </dl>
        @if (isAuthenticated)
        {
            if (isAdmin || (isSeller && (Model.AlbumDetails.OwnerId <= 0m || Model.AlbumDetails.OwnerId == currentUserId)))
            {
                <p>
                    @Html.BtnEditAlbum(Model.AlbumDetails.Id)
                    @Html.BtnDeleteAlbum(Model.AlbumDetails.Id)
                    @(Model.AlbumDetails.Price != null ? Html.BtnEditAlbumPrice(Model.AlbumDetails.Id) : Html.BtnCreateAlbumPrice(Model.AlbumDetails.Id))
                </p>
            }
        }
    </div>
</div>

<p>
    @if (isAuthenticated)
    {
        if (isAdmin || (isSeller && (Model.AlbumDetails.OwnerId <= 0m || Model.AlbumDetails.OwnerId == currentUserId)))
        {
            @Html.BtnCreateAlbum()
        }
        else if (isBuyer)
        {
            if (Model.AlbumDetails.IsPurchased)
            {
                @Html.ButtonWithIcon("btn btn-sm btn-default", "glyphicon glyphicon-music", "Прослушать",
                                    Url.Action("PurchasedTracks", "Track", new { area = "Content", id = Model.AlbumDetails.Id }))
            }
            else if (Model.AlbumDetails.Price != null)
            {
                @Html.BtnBuyAlbum(Model.AlbumDetails.Id, Model.AlbumDetails.IsOrdered)
            }
        }
    }

    @Html.ActionLink("Cписок альбомов", "List", "Album", new { area = "Content" }, new { @class = "btn btn-sm btn-success" })
</p>

<h2>Треки <span class="badge">@Model.TracksCount</span></h2>
@Html.Partial("_TracksList", Model.Tracks)
