@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@using Shop.BLL.Utils
@using Shop.Infrastructure.Enums
@model Shop.Common.ViewModels.AlbumTracksListViewModel

@{
    ViewBag.Title = "Информация об альбоме";
}

@{
    bool isAuthenticated = Request.IsAuthenticated;
    int currentUserId = 0;
    bool isAdmin = false;
    bool isSeller = false;
    bool isBuyer = false;
    if (isAuthenticated)
    {
        var currentUser = ((CurrentUser)User);
        currentUserId = currentUser.Id;
        isAdmin = User.IsInRole(UserRoles.Admin.ToString());
        isSeller = User.IsInRole(UserRoles.Seller.ToString());
        isBuyer = User.IsInRole(UserRoles.Buyer.ToString()) || User.IsInRole(UserRoles.Customer.ToString());
    }
}

<div class="panel panel-default">
    <div class="panel-body">
        <h4>@Model.AlbumDetails.Name</h4>
        @if (Model.AlbumDetails.Artist != null)
        {
            <h5>@Model.AlbumDetails.Artist.Name</h5>
        }

        <div>
            @if (Model.AlbumDetails.Artist != null)
            {
                <a class="btn btn-sm btn-success" href="@Url.Action("Details", "Artist", new { id = Model.AlbumDetails.Artist.Id, area = "Content" })"
                   title="Нажмите, чтобы увидеть информацию об исполнителе">
                    Информация об исполнителе
                </a>
            }
        </div>

        <hr />
        
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dt>
                        Обложка
                    </dt>

                    <dd>
                        @if (Model.AlbumDetails.Cover != null && Model.AlbumDetails.Cover.Length > 0)
                        {
                            <img src="data:image;base64,@Convert.ToBase64String(Model.AlbumDetails.Cover)" alt="Обложка альбома"
                                 class="img-thumbnail img-responsive" style="max-width: 300px; max-height: 300px" />
                        }
                        else
                        {
                            <div class="no-information">Отсутствует</div>
                        }
                    </dd>
                </dl>
            </div>
            <div class="col-md-8">

                <dl>
                    <dt>
                        Дата релиза
                    </dt>

                    <dd>
                        @if (Model.AlbumDetails.ReleaseDate != null)
                        {
                            @Model.AlbumDetails.ReleaseDate.Value.ToShortDateString()
                        }
                        else
                        {
                            <div class="no-information">Нет информации</div>
                        }
                    </dd>

                    <dt style="padding-top: 5px">
                        Цена
                    </dt>

                    <dd>
                        @if (Model.AlbumDetails.Price != null)
                        {
                            @Html.DisplayFor(m => m.AlbumDetails.Price)
                            if (isAuthenticated)
                            {
                                if (isBuyer)
                                {
                                    if (Model.AlbumDetails.IsPurchased)
                                    {
                                        @Html.ButtonWithIcon("btn btn-sm btn-default", "glyphicon glyphicon-music", "Прослушать",
                                                             Url.Action("PurchasedTracks", "Track", new
                                                             {
                                                                 area = "Content",
                                                                 id = Model.AlbumDetails.Id
                                                             }))
                                    }
                                    else if (Model.AlbumDetails.Price != null)
                                    {
                                        @Html.BtnBuyAlbum(Model.AlbumDetails.Id, Model.AlbumDetails.IsOrdered)
                                    }
                                }
                                else if (isAdmin || (isSeller && (Model.AlbumDetails.OwnerId <= 0m || Model.AlbumDetails.OwnerId == currentUserId)))
                                {
                                    @Html.BtnEditAlbumPrice(Model.AlbumDetails.Id)
                                }
                            }
                        }
                        else
                        {
                            if (isAuthenticated && (isAdmin || (isSeller && (Model.AlbumDetails.OwnerId <= 0m || Model.AlbumDetails.OwnerId == currentUserId))))
                            {
                                @Html.BtnCreateAlbumPrice(Model.AlbumDetails.Id)
                            }
                            else
                            {
                                <div class="no-information">Нет информации</div>
                            }
                        }
                    </dd>
                </dl>

            </div>
        </div>

        @if (isAuthenticated)
        {
            if (isAdmin || (isSeller && (Model.AlbumDetails.OwnerId <= 0m || Model.AlbumDetails.OwnerId == currentUserId)))
            {
                <p class="text-center">
                    @Html.BtnCreateAlbum()
                    @Html.BtnDeleteAlbum(Model.AlbumDetails.Id)
                    @Html.BtnEditAlbum(Model.AlbumDetails.Id)
                </p>
            }
        }
    </div>
</div>

<p>
    @Html.ActionLink("Cписок альбомов", "List", "Album", new { area = "Content" }, new { @class = "btn btn-sm btn-success" })
</p>

<div class="panel">
    <div class="panel-body">
        <h2>Треки <span class="badge">@Model.AlbumDetails.TracksCount</span></h2>
        @if (isAuthenticated)
        {
            if (isAdmin || (isSeller && (Model.AlbumDetails.OwnerId <= 0m || Model.AlbumDetails.OwnerId == currentUserId)))
            {
                @Html.BtnAddTracksToAlbum(Model.AlbumDetails.Id)
            }
        }
        @Html.Partial("_TracksList", Model.Tracks)
    </div>
</div>
