@model Shop.Common.ViewModels.CartViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ ViewBag.Title = "Корзина"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Корзина</title>
</head>
<body>

@Html.Partial("_tableStyles")

@if (!Model.IsEmpty)
{
    if (Model.Tracks.Count > 0)
    {
        using (Html.BeginForm("DeleteTrack", "Cart", new { area = "Payment" }, FormMethod.Post))
        {
            <br/>
            <br/>
            <b>Композиции</b>
            <br/>
            <br/>
            <table class="table">
                <thead>
                <tr>
                    <th style="text-align: center;">
                        <font color="steelblue">Исполнитель</font>
                    </th>
                    <th style="text-align: center;">
                        <font color="steelblue">Оценка</font>
                    </th>
                    <th style="text-align: center;">
                        <font color="steelblue">Название композиции</font>
                    </th>
                    <th style="text-align: center;">
                        <font color="steelblue">Жанр</font>
                    </th>
                    <th style="text-align: center;">
                        <font color="steelblue">Цена</font>
                    </th>
                    <th style="text-align: center;">
                        <font color="steelblue"></font>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var anyTrack in Model.Tracks)
                {
                    <tr>
                        <td width="128" align="center">@anyTrack.Artist.Name</td>
                        <td width="128">@Html.Partial("_Rating", anyTrack.Rating.Rating)</td>
                        <td width="256" align="center">@anyTrack.Name</td>
                        <td width="64" align="center">@anyTrack.Genre.Name</td>
                        <td width="96" align="center">@anyTrack.Price.Amount @Model.CurrencyShortName</td>
                        <td align="center">
                            <button type="submit" class="btn btn-primary" name="trackId" value=@anyTrack.Id>Удалить</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }

    <br/>
    if (Model.Albums.Count > 0)
    {
        using (Html.BeginForm("DeleteAlbum", "Cart", new { area = "Payment" }, FormMethod.Post))
        {
            <b>Альбомы</b>
            <br/>
            <br/>
            <table class="table">
                <thead>
                <tr>
                    <th style="text-align: center;">
                        <font color="steelblue">Исполнитель</font>
                    </th>
                    <th style="text-align: center;">
                        <font color="steelblue">Название альбома</font>
                    </th>
                    <th style="text-align: center;">
                        <font color="steelblue">Количество композиций</font>
                    </th>
                    <th style="text-align: center;">
                        <font color="steelblue">Цена</font>
                    </th>
                    <th style="text-align: center;">
                        <font color="steelblue"></font>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var anyAlbum in Model.Albums)
                {
                    <tr>
                        <td width="128" align="center">@anyAlbum.Artist.Name</td>
                        <td width="256" align="center">@anyAlbum.Name</td>
                        <td width="192" align="center">@anyAlbum.TracksCount</td>
                        <td width="96" align="center">@anyAlbum.Price.Amount @Model.CurrencyShortName</td>
                        <td align="center">
                            <button type="submit" class="btn btn-primary" name="albumId" value=@anyAlbum.Id>Удалить</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }

    <br/>
    using (Html.BeginForm("ClearCart", "Cart", new { area = "Payment" }))
    {
         <button type="submit" class="btn btn-danger">Очистить корзину</button>
    }

            <br />
            using (Html.BeginForm("PaymentWithPaypal", "Paypal", new { area = "Payment" }, FormMethod.Post))
            {
                 <div style="color:aquamarine"> Общая стоимость заказа: @Model.TotalPrice.ToString() @Model.CurrencyShortName </div>
                  <br />
                    <button type="submit" class="btn btn-success" name="cart">Оплатить</button>
            }
            }
            else
            {
                <h1 class="empty-cart-message">Ваша корзина пуста.</h1>
            }
</body>
</html>

@section cssStyles
{
    <link href="~/Content/ratingStars.css" rel="stylesheet"/>
}