@model Shop.Common.ViewModels.CartViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Корзина</title>
</head>
<body>
    <form action="/Cart/DeleteTrack" method="post">
        @Html.Hidden("currentUserId", @Model.CurrentUserId)
        <b>Tracks</b>
        <br />
        <table border="1" cellpadding="3">
            <thead>
                <tr>
                    <th><font color="blue">Исполнитель</font></th>
                    <th style="text-align:center;"><font color="blue">Альбом</font></th>
                    <th><font color="blue">Название песни</font></th>
                    <th><font color="blue">Продолжительность</font></th>
                    <th><font color="blue">Цена</font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var anyTrack in Model.Tracks)
                {
                    <tr>
                        <td>@anyTrack.Artist</td>
                        <td width="200">@anyTrack.Albums.First().Album.Name</td>
                        <td>@anyTrack.Name</td>
                        <td>@anyTrack.Duration</td>
                        <td>@anyTrack.TrackPrices.First(p => p.Currency.ShortName == Model.CurrencyShortName).Price @Model.CurrencyShortName</td>
                        <td><button type="submit" name="trackId" value=@anyTrack.Id>Удалить</button></td>
                    </tr>
                }
            </tbody>
        </table>
        </form>
        <br />
    <form action="/Cart/DeleteAlbum" method="post">
        @Html.Hidden("currentUserId", @Model.CurrentUserId)
        <b>Albums</b>
        <br />
        <table border="1" cellpadding="3">
            <thead>
                <tr>
                    <th><font color="blue">Исполнитель</font></th>
                    <th><font color="blue">Название альбома</font></th>
                    <th><font color="blue">Цена</font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var anyAlbum in Model.Albums)
            {
                    <tr>
                        <td>@anyAlbum.Artist.Name</td>
                        <td>@anyAlbum.Name</td>
                        <td>@anyAlbum.AlbumPrices.FirstOrDefault(a => a.Currency.ShortName == Model.CurrencyShortName).Price @Model.CurrencyShortName</td>
                        <td><button type="submit" name="albumId" value=@anyAlbum.Id>Удалить</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <br />
        <form action="/Cart/Pay" method="post">
            Общая стоимость заказа: @Model.TotalPrice.ToString() @Model.CurrencyShortName
            <br />
            <br />
            @Html.Hidden("currentUserId", @Model.CurrentUserId)
            <button type="submit" name="TotalPrice" value=@Model.TotalPrice>Оплатить</button>
        </form>
</body>
</html>
