@model Shop.Common.ViewModels.CartViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Корзина</title>
</head>
<body>
    @if (!Model.IsEmpty)
    {
    <form action="/Cart/DeleteTrack" method="post">
        @Html.Hidden("currentUserId", @Model.CurrentUserId)
        <br />
        <br />
        <b>Tracks</b>
        <br />
        <table border="1" cellpadding="3">
            <thead>
                <tr>
                    <th><font color="blue">Исполнитель</font></th>
                    <th style="text-align:center;"><font color="blue">Оценка</font></th>
                    <th><font color="blue">Название песни</font></th>
                    <th><font color="blue">Продолжительность</font></th>
                    <th><font color="blue">Цена</font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var anyTrack in Model.Tracks)
                {
                    <tr>
                        <td>@anyTrack.Artist.Name</td>
                        <td width="150">@anyTrack.Rating.VotesCount</td>
                        <td>@anyTrack.Name</td>
                        <td>@anyTrack.Duration</td>
                        <td>@anyTrack.Price.Amount @Model.CurrencyShortName</td>
                        <td></td>
                        <td><button type="submit" name="trackId" value=@anyTrack.Id>Удалить</button></td>
                    </tr>
                }
            </tbody>
        </table>
        </form>
        <br />
    <form action="/Cart/DeleteAlbum" method="post">
        @Html.Hidden("currentUserId", @Model.CurrentUserId)
        <b>Albums</b>
        <br />
        <table border="1" cellpadding="3">
            <thead>
                <tr>
                    <th><font color="blue">Исполнитель</font></th>
                    <th><font color="blue">Название альбома</font></th>
                    <th><font color="blue">Цена</font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var anyAlbum in Model.Albums)
                {
                    <tr>
                        <td>@anyAlbum.Artist.Name</td>
                        <td>@anyAlbum.Name</td>
                        <td>@anyAlbum.Price.Amount @Model.CurrencyShortName</td>
                        <td><button type="submit" name="albumId" value=@anyAlbum.Id>Удалить</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <br />
    <form action="../Payment/Paypal" method="post">
        Общая стоимость заказа: @Model.TotalPrice.ToString() @Model.CurrencyShortName
        <br />
        <br />
        @Html.Hidden("currentUserId", @Model.CurrentUserId)
        <button type="submit" name="TotalPrice" value=@Model.TotalPrice>Оплатить</button>
    </form>
    }
    else
    {
        <p>
            <br/>
            <b>Ваша корзина пуста.</b>
        </p>
    }
</body>
</html>
