@model Shop.Common.ViewModels.CartViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Корзина</title>
</head>
<body>
    @if (!Model.IsEmpty)
    {
        if (Model.Tracks.Count > 0)
        {
    <form action="../Payment/Cart/DeleteTrack" method="post">
        <br />
        <br />
        <b>Композиции</b>
        <br />
        <br />
        <table border="1" cellpadding="3">
            <thead>
                <tr>
                    <th style="text-align:center;"><font color="blue">Исполнитель</font></th>
                    <th style="text-align:center;"><font color="blue">Оценка</font></th>
                    <th style="text-align:center;"><font color="blue">Название композиции</font></th>
                    <th style="text-align:center;"><font color="blue">Жанр</font></th>
                    <th style="text-align:center;"><font color="blue">Цена</font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var anyTrack in Model.Tracks)
                {
                    <tr>
                        <td width="128" align="center">@anyTrack.Artist.Name</td>
                        <td width="128">@Html.Partial("_Rating", anyTrack.Rating.Rating)</td>
                        <td width="256" align="center">@anyTrack.Name</td>
                        <td width="64" align="center">@anyTrack.Genre.Name</td>
                        <td width="96" align="center">@anyTrack.Price.Amount @Model.CurrencyShortName</td>
                        <td><button type="submit" name="trackId" value=@anyTrack.Id>Удалить</button></td>
                    </tr>
                }
            </tbody>
        </table>
        </form>
        }
        <br />
        if (Model.Albums.Count > 0)
        {
    <form action="../Payment/Cart/DeleteAlbum" method="post">
        <b>Альбомы</b>
        <br />
        <br />
        <table border="1" cellpadding="3">
            <thead>
                <tr>
                    <th style="text-align:center;"><font color="blue">Исполнитель</font></th>
                    <th style="text-align:center;"><font color="blue">Название альбома</font></th>
                    <th style="text-align:center;"><font color="blue">Количество композиций</font></th>
                    <th style="text-align:center;"><font color="blue">Цена</font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var anyAlbum in Model.Albums)
                {
                    <tr>
                        <td width="128" align="center">@anyAlbum.Artist.Name</td>
                        <td width="256" align="center">@anyAlbum.Name</td>
                        <td width="192" align="center">@anyAlbum.TracksCount</td>
                        <td width="96" align="center">@anyAlbum.Price.Amount @Model.CurrencyShortName</td>
                        <td><button type="submit" name="albumId" value=@anyAlbum.Id>Удалить</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
        }
    <br />
    <form action="../Payment/Paypal/PaymentWithPaypal" method="post">
        Общая стоимость заказа: @Model.TotalPrice.ToString() @Model.CurrencyShortName
        <br />
        <br />
        <button type="submit" name="cart" value=@Model>Оплатить</button>
    </form>
    }
    else
    {
        <p>
            <br/>
            <b>Ваша корзина пуста.</b>
        </p>
    }
</body>
</html>

@section cssStyles
{
    <link href="~/Content/ratingStars.css" rel="stylesheet" />
}
