@using Shop.Common.Models
@model PVT.Q1._2017.Shop.Areas.Management.ViewModels.AlbumManagementViewModel
<head>
    <meta charset="utf-8">
    <title>jQuery UI</title>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <script src="/Scripts/openfile.dialog.js" type="text/javascript"></script>
    <script src="/Scripts/datepicker-ru.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <style type="text/css">
        input {
            text-align: left;
            width: 200px;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            $('#datep').datepicker();
            $('#datep').datepicker($.datepicker.regional["ru"]);
            $('#datep').datepicker({
                changeYear: true
            });
        });
    </script>

</head>
<h2 class="title">Регистрация нового альбома</h2>
<body>
    
@using (Html.BeginForm("New", "Albums", FormMethod.Post, new { name = "formreg", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="@Html.NameFor(m => m.Artist.Id)" value="@Model.Artist.Id"/>

    <div class="main-center">
        <div class="col-1">
            <div class="col-2">
                <div class="image-block">
                    <img id="artist-img" onclick="document.formreg.PostedCover.click()" onerror="this.src = '/img/defuserpic.png'" src="data:image;base64" />
                </div>
                <div class="details">
                    <ul>
                        <li id="first">
                            <input type="text" class="form-control" value=@Model.Artist.Name readonly="readonly" />
                        </li>
                        <li>
                            @Html.EditorFor(m => Model.Name, new { htmlAttributes = new { placeholder = "Название", @class = "form-control" } })
                        </li>
                        <li>
                            @Html.EditorFor(m => Model.ReleaseDate, new { htmlAttributes = new { id = "datep", placeholder = "Дата релиза", type = "text", @class = "form-control" } })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <button type="submit" class="btn" id="btn-save">Сохранить</button>
    <input type="file" id="file" name="PostedCover" style="display: none"/>
}


</body>

<script src="/Scripts/openfile.dialog.js" type="text/javascript"></script>
<script src="/Scripts/file-change.js" type="text/javascript"></script>
@section cssStyles{
    <link href="/Styles/tracks.css" rel="stylesheet" type="text/css" />
}