@using Shop.Infrastructure.Enums
@model Shop.Common.ViewModels.ArtistContentViewModel

@{
    ViewBag.Title = Model.ArtistDetails.Name;

    var isAuthenticated = Request.IsAuthenticated;
    var isAdmin = false;
    var isSeller = false;
    if (isAuthenticated)
    {
        isAdmin = User.IsInRole(UserRoles.Admin.ToString());
        isSeller = User.IsInRole(UserRoles.Seller.ToString());
    }

}

<audio controls controlsList="nodownload" id="audio-hidden" type="audio/mp3" autoplay="autoplay" style="display: none"></audio>

<div class="artist-details-container">
    <div class="artist-details">
        <div class="inner">
            <img class="img-thumbnail" src="data:image;base64,@Convert.ToBase64String(Model.ArtistDetails.Photo)"
                 style="max-height: 300px; max-width: 300px" onerror="src = '/img/defuserpic.png'" />
            <p>
                <dl style="text-align: left">
                    @if (Model.ArtistDetails.Birthday != null)
                    {
                        <dt>
                            @Html.LabelFor(m => m.ArtistDetails.Birthday, "День рождения (основания группы)")
                        </dt>

                        <dd>
                            @Html.ValueFor(m => m.ArtistDetails.Birthday, "{0:dd MMMM yyyy} г.")
                        </dd>
                    }

                    <dt>
                        @Html.LabelFor(m => m.ArtistDetails.Biography, "Биография")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ArtistDetails.Biography, new { @readonly = "readonly", id = "ro-textarea" })
                    </dd>
                </dl>
            </p>
        </div>
    </div>

    @if (isAdmin || isSeller)
    {
        <div style="margin: 15px 38px; text-align: right">
            <div style="margin: 0; width: initial">
                <a class="btn-artist-details-edit btn btn-primary" href="@Url.Action("Edit", "Artists", new { Area = "Management", id = Model.ArtistDetails.Id })">
                    <span class="glyphicon glyphicon-pencil"></span> Правка
                </a>
            </div>
        </div>
    }

    @if (Model.ArtistDetails.AlbumsCount > 0 || Model.ArtistDetails.TracksCount > 0)
    {
        <div class="panel">
            <div class="panel-body">
                <ul class="nav nav-tabs nav-justified" id="tabsArtistContent">
                    <li class="active">
                        <a href="#artistTracks">Треки <span class="badge">@Model.ArtistDetails.TracksCount</span></a>
                    </li>
                    <li>
                        <a href="#artistAlbums">Альбомы <span class="badge">@Model.ArtistDetails.AlbumsCount</span></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="artistTracks">
                        @Html.Partial("_TracksList", Model.Tracks)
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="artistAlbums">
                        @Html.Partial("_AlbumsList", Model.Albums)
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script src="/Scripts/del-artist.js" type="text/javascript"></script>
    <script src="~/Scripts/get-audio.js"></script>
}

@section cssStyles {
    @System.Web.Optimization.Styles.Render("~/bundles/cssTracks")
}