@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@model Shop.Common.ViewModels.ArtistTracksListViewModel

@{
    ViewBag.Title = "Список треков исполнителя";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.ArtistDetails.Name</h4>
    <hr />

    <p>
        @Html.BtnCreateTrack(Model.ArtistDetails.Id)
        
        @Html.ActionLink("Информация об исполнителе", "Details", "Artist", new
        {
            id = Model.ArtistDetails.Id,
            area = "Content"
        }, new
        {
            @class = "btn btn-sm btn-success",
            title = "Нажмите, чтобы перейти к информации об исполнителе"
        })
    </p>
    
    @Html.Partial("_TracksList", Model.Tracks)
    
</div>

@section cssStyles
{
    <link href="~/Content/ratingStars.css" rel="stylesheet" />
}