@using Shop.Infrastructure.Enums

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Music Shop</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @RenderSection("cssStyles", required: false)

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <meta name="description" content="PVT.2017.Q1 Music Shop" />
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Music Shop", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand", style = "margin-left:20px;" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    @Html.Partial("_MenuPartial")
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav" style="display: inline-block">
                        <li>
                            <a>@{ Html.RenderAction("UserCurrency", "Currency", new { area = string.Empty }); }</a>
                        </li>
                    </ul>
                    using (Html.BeginForm("LogOut", "Account", new { area = "User" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", style = "display: inline-block" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.Partial("_UserMenuPartial", User.Identity.Name)
                            </li>
                            @if (User.IsInRole(UserRoles.Buyer.ToString()) || User.IsInRole(UserRoles.Customer.ToString()))
                            {
                                <li>
                                    <a class="btn btn-sm btn-default" id="main-cart-icon" href="@Url.Action("Index", "Cart", new { area = "Payment" })"
                                       title="Нажмите, чтобы перейти в Вашу корзину">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                        <span id="cart-itemsCount" class="badge">@Session["OrdersCount"]</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Регистрация", "Register", "Account", new { area = "User" }, new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Войти", "Login", "Account", new { area = "User" }, new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="main-header">
            <h1 class="title">@ViewBag.Title</h1>
            <div id="bc-override">@Html.MvcSiteMap().SiteMapPath()</div>
        </div>

        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Music Shop</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>