<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicShop</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    @RenderSection("cssStyles", required: false)


    @RenderSection("TrackList", false)
    @RenderSection("AddToCartButton", false)
    @RenderSection("ArtistNew", false)
    @RenderSection("ArtistEdit", false)
    @RenderSection("ArtistDetails", false)
    @RenderSection("AlbumNew", false)
    @RenderSection("AlbumEdit", false)
    @RenderSection("AlbumDetails", false)
    @RenderSection("AlbumsList", false)

</head>

<body>
<div class="topbar">
    <ul class="nav-items">
        <li>
            @Html.ActionLink("Albums", "List", "Albums", new { area = "Content" }, null)
        </li>


        <li>
            @Html.ActionLink("New artist", "New", "Artists", new { area = "Management" }, null)
        </li>

        <li>
            @Html.ActionLink("New track", "New", "Tracks", new { area = "Management" }, null)
        </li>

        <li>
            @Html.ActionLink("Edit track", "Edit", "Tracks", new { area = "Management", id = 1 }, null)
        </li>


        <li>
            @Html.ActionLink("Edit artist", "Edit", "Artists", new { area = "Management", id = 1 }, null)
        </li>

        <li>
            @Html.ActionLink("New artist", "New", "Artists", new { area = "Management" }, null)
        </li>
        <li>
            @Html.ActionLink("Album details", "Details", "Albums", new { area = "Content", id=1}, null)
        </li>
        <li>
            @Html.ActionLink("New album", "New", "Albums", null, null)
        </li>
        <li>
            @Html.ActionLink("Edit album", "Edit", "Albums", new { area = "Management", id = 3 }, null)
        </li>
    </ul>
</div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            @Html.ActionLink("Music Shop", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @Html.Partial("_MenuPartial")
            </ul>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { area = "User", id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Привет  " + User.Identity.Name + "!", "Index", new { area = "User", controller = "Manage" }, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                        </li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Регистрация", "Register", new { area = "User", controller = "Account" }, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Войти", "Login", new { area = "User", controller = "Account" }, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
        </div>
    </div>
</div>

<div>
    @RenderBody()

    <footer>
        <p class="copyright">&copy; @DateTime.Now.Year - PVT.Q1.2017</p>
    </footer>
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/Styles/Main.css">
</body>
</html>