<li>@Html.ActionLink("Главная", "Index", new { area = string.Empty, controller = "Home" })</li>
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Мой аккаунт", "Index", new { area = "User", controller = "Manage" })</li>
}
<li>@Html.ActionLink("Контакты", "Contact", new { area = string.Empty, controller = "Home" })</li>
<li class="dropdown-item" style="height: 50px; display: inline-block">
    <div class="dropdown" id="purple-dropdown" style="padding: 15px 15px 15px 15px">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="color: #999; background-color: #222222; text-decoration: none">Меню<b class="caret" style="border-color: #222222"></b></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <a href="@Url.Action("New","Artists", new {area="Management"})">Новый исполнитель</a>
            </li>
            <li>
                <a href="@Url.Action("New","Tracks", new {area="Management"})">Новый трек</a>
            </li>
            <li>
                <a href="@Url.Action("New","Genres", new {area="Management"})">Новый жанр</a>
            </li>
            <li>
                <a href="#">Новый альбом</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#">Треки</a>
            </li>
            <li>
                <a href="@Url.Action("List","Artists", new {area="Content"})">Исполнители</a>
            </li> 
            <li>
                <a href="@Url.Action("List","Albums", new {area="Content"})">Альбомы</a>
            </li>
            <li>
                <a href="#">Жанры</a>
            </li>
           
           
            <li>
                <a href="#">Separated link</a>
            </li>
        </ul>
    </div>
</li>

