@model Shop.Common.ViewModels.TrackDetailsViewModel
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link href="~/Content/bootstrapStars.css" rel="stylesheet"/>
<div class="stars">
    <form action="">
        <input class="star star-5" id="@Model.Id+5" type="radio" name="star"/>
        <label class="star star-5" for="@Model.Id+5"></label>
        <input class="star star-4" id="@Model.Id+4" type="radio" name="star"/>
        <label class="star star-4" for="@Model.Id+4"></label>
        <input class="star star-3" id="@Model.Id+3" type="radio" name="star"/>
        <label class="star star-3" for="@Model.Id+3"></label>
        <input class="star star-2" id="@Model.Id+2" type="radio" name="star"/>
        <label class="star star-2" for="@Model.Id+2"></label>
        <input class="star star-1" id="@Model.Id+1" type="radio" name="star"/>
        <label class="star star-1" for="@Model.Id+1"></label>
    </form>
</div>