@using Shop.Infrastructure.Enums
@model string
    
@{
    var isAdmin = false;
    var isSeller = false;
    if (Request.IsAuthenticated)
    {
        isAdmin = User.IsInRole(UserRoles.Admin.ToString());
        isSeller = User.IsInRole(UserRoles.Seller.ToString());
    }
}

<a href="#" data-toggle="dropdown" class="dropdown-toggle user-dropdown-menu" style="background-color: #222222; color: #999; text-decoration: none">@Model<b class="caret" style="border-color: #222222"></b></a>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
        <a href="@Url.Action("Index", "Manage", new { area = "User" })">Профиль</a>
    </li>
    @if (!isSeller && !isAdmin)
    {
        <li>
            <a href="@Url.Action("PurchasedList", "Tracks", new { area = "Content" })">Мои треки</a>
        </li>
        <li>
            <a href="@Url.Action("PurchasedList", "Albums", new { area = "Content" })">Мои альбомы</a>
        </li>
    }
    <li>
        <a href="@Url.Action("Index", "PaymentTransaction",  new { area = "Payment"})">История заказов</a>
    </li>
    <li>
        <a href="#" title="Нажмите, чтобы выйти" onclick="$('#logoutForm').submit();">Выход</a>
    </li>
</ul>
