@model IEnumerable<Shop.Common.ViewModels.CountryViewModel>

@{
    ViewBag.Title = "Страны";
}

<p>
    @Html.ActionLink("Добавить страну", "Create", new { controller = "Country", area = "Admin" })
</p>
<table class="table" id="country-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Правка", "Edit", new { controller = "Country", area = "Admin" , id = item.Id}) |
            @Html.ActionLink("Удалить", "Delete", new { controller = "Country", area = "Admin", id = item.Id })
        </td>
    </tr>
}

</table>
