@model Shop.Common.ViewModels.PayResultsViewModel

@{
    ViewBag.Title = "Финансовые результаты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>PayResult</h2>*@

<div class="paymens-table">

    @if(Model!=null&&Model.Payments!=null)
    {
    <table class="table">
        <tr>
            <th>
               Валюта
            </th>
            <th>
                Сумма в валюте
            </th>
            <th>
                Авторские отчисления
            </th>
            <th>
                Кросс-курс
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model.Payments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Totals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Royalties)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CrossCourse)
                </td>
                @*<td>
                        @Html.ActionLink("Подробно", "Details", new { id = item.Id })
                    </td>*@
            </tr>
        }

    </table>
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Royalties) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Royalties)
        </dd>

    </dl>

</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
