@model Shop.Common.ViewModels.TrackAlbumsListViewModel

@{
    ViewBag.Title = "Список альбомов, в которых присутсвует трек";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.Name</h4>
    <h5>@Model.Artist.Name</h5>
    <hr />

    <p>
        <a class="btn btn-sm btn-success" href="@Url.Action("Details", "Artist", new { id = Model.Artist.Id, area = "Content" })"
           title="Нажмите, чтобы увидеть информацию об исполнителе">
            Информация об исполнителе
        </a>

        @Html.ActionLink("Информация о треке", "Details", "Track", new
        {
            id = Model.Id,
            area = "Content"
        }, new
        {
            @class = "btn btn-sm btn-success",
            title = "Нажмите, чтобы перейти к информации о треке"
        })
    </p>

    @Html.Partial("_AlbumsList", Model.Albums)

</div>

