@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@using Shop.BLL.Utils
@using Shop.Infrastructure.Enums
@model Shop.Common.ViewModels.TrackAlbumsListViewModel

@{
    ViewBag.Title = "Информация о треке";
}

@{
    bool isAuthenticated = Request.IsAuthenticated;
    int currentUserId = 0;
    bool isAdmin = false;
    bool isSeller = false;
    bool isBuyer = false;
    if (isAuthenticated)
    {
        var currentUser = ((CurrentUser)User);
        currentUserId = currentUser.Id;
        isAdmin = User.IsInRole(UserRoles.Admin.ToString());
        isSeller = User.IsInRole(UserRoles.Seller.ToString());
        isBuyer = User.IsInRole(UserRoles.Buyer.ToString()) || User.IsInRole(UserRoles.Customer.ToString());
    }
}

<div class="panel panel-default">
    <div class="panel-body">
        <h4>@Model.TrackDetails.Name</h4>
        <h5>@Model.TrackDetails.Artist.Name</h5>

        <p>
            <table>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.TrackDetails.Rating)
                    </td>
                    <td style="vertical-align: top">
                        @Html.ButtonWithIcon("btn btn-xs btn-success", "glyphicon glyphicon-comment", "Оставить отзыв",
                                             Url.Action("Details", "Feedbacks", new { area = "Content", trackId = Model.TrackDetails.Id }))
                    </td>
                </tr>
            </table>
        </p>
        

        <div>
            <a class="btn btn-sm btn-success" href="@Url.Action("Details", "Artist", new { id = Model.TrackDetails.Artist.Id, area = "Content" })"
               title="Нажмите, чтобы увидеть информацию об исполнителе">
                Информация об исполнителе
            </a>
        </div>

        @if (Model.TrackDetails.Image != null && Model.TrackDetails.Image.Length > 0)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.TrackDetails.Image)" alt="Изображение трека"
                 class="img-thumbnail img-responsive" style="max-width: 300px; max-height: 300px" />
        }

        <hr />
        
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dt>
                        Изображение
                    </dt>

                    <dd>
                        @if (Model.TrackDetails.Image != null && Model.TrackDetails.Image.Length > 0)
                        {
                            <img src="data:image;base64,@Convert.ToBase64String(Model.TrackDetails.Image)" alt="Изображение трека"
                                 class="img-thumbnail img-responsive" style="max-width: 300px; max-height: 300px" />
                        }
                        else
                        {
                            <div class="no-information">Отсутствует</div>
                        }
                    </dd>
                    
                    <dt style="padding-top: 5px">
                        Sample
                    </dt>
                    
                    <dd>
                        @if (Model.TrackDetails.TrackSample != null && Model.TrackDetails.TrackSample.Length > 0)
                        {
                            <audio controls>
                                <source src="@Url.Action("LoadSample", "Track", new { id = Model.TrackDetails.Id })">
                                <a href="@Url.Action("LoadSample", "Track", new { id = Model.TrackDetails.Id })">@Model.TrackDetails.Name (Sample)</a>
                            </audio>
                        }
                        else
                        {
                            <div class="no-information">Отсутствует</div>
                        }
                    </dd>
                    
                    <dt style="padding-top: 5px">
                        Продолжительность
                    </dt>

                    <dd>
                        @if (Model.TrackDetails.Duration != null)
                        {
                            @Model.TrackDetails.Duration.Value.ToString(@"hh\:mm\:ss")
                        }
                        else
                        {
                            <div class="no-information">Нет информации</div>
                        }
                    </dd>
                </dl>
            </div>
            <div class="col-md-8">

                <dl>
                    <dt>
                        Дата релиза
                    </dt>

                    <dd>
                        @if (Model.TrackDetails.ReleaseDate != null)
                        {
                            @Model.TrackDetails.ReleaseDate.Value.ToShortDateString()
                        }
                        else
                        {
                            <div class="no-information">Нет информации</div>
                        }
                    </dd>

                    <dt style="padding-top: 10px">
                        Жанр
                    </dt>

                    <dd>
                        @Model.TrackDetails.Genre.Name
                    </dd>

                    <dt style="padding-top: 10px">
                        Цена
                    </dt>

                    <dd>
                        @if (Model.TrackDetails.Price != null)
                        {
                            @Html.DisplayFor(m => m.TrackDetails.Price)
                            if (isAuthenticated)
                            {
                                if (isBuyer)
                                {
                                    if (Model.TrackDetails.IsPurchased)
                                    {
                                        @Html.ButtonWithIcon("btn btn-sm btn-default", "glyphicon glyphicon-music", "Прослушать",
                                                             Url.Action("PurchasedTracks", "Track", new
                                                             {
                                                                 area = "Content",
                                                                 id = Model.TrackDetails.Id
                                                             }))
                                    }
                                    else if (Model.TrackDetails.Price != null)
                                    {
                                        @Html.BtnBuyAlbum(Model.TrackDetails.Id, Model.TrackDetails.IsOrdered)
                                    }
                                }
                                else if (isAdmin || (isSeller && (Model.TrackDetails.OwnerId <= 0m || Model.TrackDetails.OwnerId == currentUserId)))
                                {
                                    @Html.BtnEditAlbumPrice(Model.TrackDetails.Id)
                                }
                            }
                        }
                        else
                        {
                            if (isAuthenticated && (isAdmin || (isSeller && (Model.TrackDetails.OwnerId <= 0m || Model.TrackDetails.OwnerId == currentUserId))))
                            {
                                @Html.BtnCreateAlbumPrice(Model.TrackDetails.Id)
                            }
                            else
                            {
                                <div class="no-information">Нет информации</div>
                            }
                        }
                    </dd>
                </dl>

            </div>
        </div>
        
        @if (isAuthenticated)
        {
            if (isAdmin || (isSeller && (Model.TrackDetails.OwnerId <= 0m || Model.TrackDetails.OwnerId == currentUserId)))
            {
                <p class="text-center">
                    @Html.BtnEditTrack(Model.TrackDetails.Id)
                    @Html.BtnDeleteTrack(Model.TrackDetails.Id)
                </p>
            }
        }
    </div>
</div>

<p>
    @Html.ActionLink("Cписок треков", "List", "Track", new { area = "Content" }, new { @class = "btn btn-sm btn-success" })
</p>

<div class="panel">
    <div class="panel-body">
        <h2>Альбомы с этим треком <span class="badge">@Model.TrackDetails.AlbumsCount</span></h2>
        @Html.Partial("_AlbumsList", Model.Albums)
    </div>
</div>

@section cssStyles
{
    <link href="~/Content/ratingStars.css" rel="stylesheet" />
}