@model Shop.Common.Models.Track

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Track</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "AddOrUpdate", "Track", new { id = Model.Id, area = "Management" }, null) |
    @Html.ActionLink("Back to List", "List")
</p>
