@model Shop.Common.ViewModels.TrackDetailsViewModel

<body>
<h2 class="title" style="margin-top: 15px; position: initial">Информация о треке</h2>
<div style="width: 100%; display: block">
    <div style="text-align: -webkit-center">
        <div style="display: block">
            <img id="artist-img" onclick="document.formreg.PostedPhoto.click()" class="img-thumbnail" onerror="this.src = '/img/defuserpic.png'" src="data:image;base64,@Convert.ToBase64String(Model.Image)"/>
            <ul class="list-group">
                <li>
                    <p class="list-group-item">@Html.DisplayNameFor(m => m.Name)</p>
                    @Html.DisplayTextFor(m => m.Name)
                </li>
                <li>
                    <p class="list-group-item">@Html.DisplayNameFor(m => m.ArtistName)</p>
                    @Html.DisplayTextFor(m => m.ArtistName)
                </li>
                <li>
                    <p class="list-group-item">@Html.DisplayNameFor(m => m.ReleaseDate)</p>
                    @Html.DisplayTextFor(m => m.ReleaseDate)
                </li>
                <li>
                    <p class="list-group-item">@Html.DisplayNameFor(m => m.GenreName)</p>
                    @Html.DisplayTextFor(m => m.GenreName)
                </li>
                <li>
                    <p class="list-group-item">@Html.DisplayNameFor(m => m.Duration)</p>
                    @Html.DisplayTextFor(m => m.Duration)
                </li>
                <li>
                    <p class="list-group-item">@Html.DisplayNameFor(m => m.Price)</p>
                    @Html.DisplayTextFor(m => m.Price)
                </li>
            </ul>
            <div style="margin-top: 15px; width: 500px; text-align: right">
                <a href="JavaScript:window.history.back(1)" class="btn btn-primary">Назад</a>
                <a href="@Url.Action("Edit", "Tracks", new { Area = "Management", id = Model.Id })" class="btn btn-primary">Правка</a>
                <a href="@Url.Action("List", "Tracks", new { Area = "Content" })" class="btn btn-primary">Все треки</a>
            </div>
        </div>

    </div>
</div>
</body>

@section cssStyles
{
    <link href="~/Styles/tracks.css" rel="stylesheet"/>
}