
@{
    ViewBag.Title = "ChangeLoginSuccess";
}
<h2>@ViewBag.Title</h2>

@Html.ActionLink("Редактировать личные данные", "UpdatePersonal", "Manage") | @Html.ActionLink("Изменить пароль", "ChangePassword", "Manage") | @Html.ActionLink("Изменить логин", "ChangeLogin", "Manage")
| @Html.ActionLink("Удалить аккаунт", "Delete", "Manage")

<h2>@ViewBag.Message</h2>
