@{
    ViewBag.Title = "Удалить аккаунт";
}

<h3>Удалить аккаунт</h3>

<input type="button" class="btn" value="Редактировать данные профиля" onclick="location.href='@Url.Action("UpdatePersonal", "Manage")'" />
<input type="button" class="btn" value="Изменить пароль" onclick="location.href='@Url.Action("ChangePassword", "Manage")'" />
<input type="button" class="btn" value="Изменить логин" onclick="location.href='@Url.Action("ChangeLogin", "Manage")'" />
<input type="button" class="btn" value="Удалить аккаунт" onclick="location.href='@Url.Action("Delete", "Manage")'" />

<h3>Вы уверены, что хотите удалить аккаунт?</h3>
<div>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> 
        </div>
    }
</div>
