@model IEnumerable<Shop.Common.ViewModels.ArtistViewModel>

@{
    ViewBag.Title = "Список исполнителей";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.Partial("CreateArtistButtonPartialView")
</p>

<table class="table table-hover table-responsive">
    @foreach (var artist in Model) {
        <tr>
            <td>
                @Html.ActionLink(artist.Name, "Details", "Artist", new { id = artist.Id, area = "Content" }, new
                {
                    @class = "btn btn-link",
                    title = "Нажмите, чтобы посмотреть подробную информацию об исполнителе"
                })
            </td>
            <td>
                <a class="btn btn-link" href="@Url.Action("TracksList", "Artist", new { id = artist.Id, area = "Content" })"
                   title="Нажмите, чтобы увидеть все треки исполнителя">
                    Треки исполнителя <span class="badge">@artist.TracksCount</span>
                </a>

                <a class="btn btn-link" href="@Url.Action("AlbumsList", "Artist", new { id = artist.Id, area = "Content" })"
                   title="Нажмите, чтобы увидеть все альбомы исполнителя">
                    Альбомы исполнителя <span class="badge">@artist.AlbumsCount</span>
                </a>
            </td>
            <td>
                @Html.Partial("EditArtistButtonPartialView", artist.Id)

                @Html.Partial("DeleteArtistButtonPartialView", artist.Id)
            </td>
        </tr>
    }

</table>
