@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@using Shop.Infrastructure.Enums
@model ICollection<Shop.Common.ViewModels.ArtistViewModel>

@{
    ViewBag.Title = "Список исполнителей";
}

@{
    bool isAuthenticated = Request.IsAuthenticated;
    bool isAdmin = false;
    bool isSeller = false;
    if (isAuthenticated)
    {
        isAdmin = User.IsInRole(UserRoles.Admin.ToString());
        isSeller = User.IsInRole(UserRoles.Seller.ToString());
    }
}

@if (isAuthenticated)
{
    if (isAdmin || isSeller)
    {
        <p>
            @Html.BtnCreateArtist()
        </p>
    }
}

<table class="table table-hover table-responsive">
    @foreach (var artist in Model) {
        <tr>
            <td>
                @Html.ActionLink(artist.Name, "Details", "Artist", new { id = artist.Id, area = "Content" }, new
                {
                    @class = "btn btn-link",
                    title = "Нажмите, чтобы посмотреть подробную информацию об исполнителе"
                })
            </td>
            <td>
                <a class="btn btn-link" href="@Url.Action("Details", "Artist", new { id = artist.Id, area = "Content" })"
                   title="Нажмите, чтобы увидеть все треки исполнителя">
                    Треки исполнителя <span class="badge">@artist.TracksCount</span>
                </a>

                <a class="btn btn-link" href="@Url.Action("Details", "Artist", new { id = artist.Id, area = "Content" })"
                   title="Нажмите, чтобы увидеть все альбомы исполнителя">
                    Альбомы исполнителя <span class="badge">@artist.AlbumsCount</span>
                </a>
            </td>
            @if (isAuthenticated)
            {
                if (isAdmin || isSeller)
                {
                    <td>
                        @Html.BtnEditArtist(artist.Id)
                        @Html.BtnDeleteArtist(artist.Id)
                    </td>
                }
            }
        </tr>
    }
</table>
